<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/plugin/DataTables/Bootstrap-4-4.1.1/css/bootstrap.min.css" />
    <include path="~/Content/plugin/DataTables/datatables.min.css" />
    <include path="~/Content/css/Site.css" />
  </styleBundle>
</bundles>